.battle_sorting_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.battle-unit {
  margin: 10px;
  padding: 15px;
  border: 2px solid blueviolet;
  width: 100px;
  height: 100px;
  float: left;
}

.battle-unit img {
  width: 100px;
  height: 100px;
}
.enemy {
  background: lightcoral;
}

.battle-player {
  background: yellowgreen;
}

.ally {
  background: lightgreen;
}

/* DRAG-AND-DROP HINT */
.battle-unit.hint {
  border: 2px solid #ffc49a;
  opacity: 0.7;
}

.battle-unit.active {
  border: 2px solid red;
}

.battle-unit.hint div {
  pointer-events: none;
}
