.dices {
  margin: 1em;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
}
.dice img {
  width: 100px;
  height: 100px;
}

#d100-res {
  position: relative;
  top: -60%;
  left: -12%;
  transform-origin: 50% 60%;
  text-align: center;
}
#d20-res {
  position: relative;
  top: -55%;
  left: -13%;
  transform-origin: 50% 45%;
  text-align: center;
}
#d12-res {
  position: relative;
  top: -55%;
  left: -13%;
  transform-origin: 50% 45%;
  text-align: center;
}
#d10-res {
  position: relative;
  top: -60%;
  left: -12%;
  transform-origin: 50% 60%;
  text-align: center;
}
#d8-res {
  position: relative;
  top: -55%;
  left: -13%;
  transform-origin: 50% 45%;
  text-align: center;
}
#d4-res {
  position: relative;
  top: -55%;
  left: -13%;
  transform-origin: 50% 45%;
  text-align: center;
}
.dice {
  position: relative;
}

.dice-btns {
  position: relative;
  bottom: 50%;
  left: 50%;
}
