.players_sorting_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.unit {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.unit-img {
  padding: 15px;
  border: 2px solid blueviolet;
  width: 100px;
  height: 100px;
  background: lightgray;
}

.info {
  background: lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  border: 2px solid black;
  margin-left: 2em;
  padding: 15px;
  height: 100px;
}

.info p {
  position: relative;
  margin: 0px;
  height: 20px;
  width: 100px;
  text-align: left;
}

.name p {
  font-weight: bold;
}

.info img {
  position: relative;
  bottom: 10%;
  height: 30px;
  width: 30px;
}

.level,
.armor,
.health,
.tmp-health {
  height: 60px;
  font-size: x-large;
}

input[type="number"] {
  background: lightgray;
  position: relative;
  width: 2.4em;
  text-align: center;
  font-size: x-large;
  border: none;
  border-bottom: 2px solid blueviolet;
  bottom: 0.6em;
}

/* DRAG-AND-DROP HINT */
.player.hint .unit-img,
.player.hint .info {
  border: 2px solid #ffc49a;
  opacity: 0.7;
}
.player.active .unit-img,
.player.active .info {
  border: 2px solid red;
}

.player.hint div {
  pointer-events: none;
}
