body {
  background-color: black;
  overflow: hidden;
}

.nav-bar {
  background-color: darkgray;
  max-height: 4vh;
  min-height: 4vh;
  display: flex;
}
#nav-links {
  width: 50%;
}
#nav-links a {
  color: black;
  text-decoration: none;
}
#nav-links a:hover {
  color: blueviolet;
}

#nav-buttons {
  width: 50%;
  background-color: brown;
  text-align: right;
}

#nav-buttons button {
  border: 0;
  border-radius: 25%;
  color: black;
  text-decoration: none;
  cursor: crosshair;
  background-color: brown;
}

#nav-buttons button:hover {
  color: blueviolet;
  background-color: black;
}
.flex-container {
  border: 2px solid blueviolet;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: stretch;
  min-height: 94vh;
  max-height: 94vh;
}
.pdf-container {
  background-color: lightgray;
  width: 50vw;
  overflow: hidden;
}
.pdf-container iframe {
  height: 95vh;
  width: 100%;
}
.players-container {
  background-color: lightcoral;
  width: 30vw;
  min-width: 30vw;
  max-width: 30vw;
  overflow: hidden;
}

.utilities-container {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 25vw;
  min-width: 25vw;
  max-width: 25vw;
  flex-grow: 2;
  align-items: stretch;
}

.battle-container {
  background-color: lightpink;
  height: 50%;
  min-height: 30vh;
  max-height: 70vh;
  width: 100%;
  resize: vertical;
  overflow: hidden;
}

.dice-roller-container {
  background-color: lightsalmon;
  min-height: 30vh;
  max-height: 70vh;
  height: 50%;
  width: 100%;
  overflow: hidden;
}
